.information{
    display: flex;
    justify-content: center;
}

.misevi_logo{
    flex-grow: 1;
}
.misevi_logo .img{
    max-width:100%;
}


.page-carousel img{
    height: 450px;
}

.misevi_section{
    display: flex;
}

.misevi_desc{
    text-align: center;
    font-weight: bold;
    color: ivory;
    margin: auto;
    width: 80%;
    padding: 10px;
}

.misevi_desc h3{
    text-align: center;
}


.text_bold{
    font-weight: bold;
    color: ivory;
}

.container_misevi{
    margin-left: 5%;
    margin-right: 5%;
}

.big-icon{
    width: auto;
}

.description p{
 font-weight: 500;
 color:darkgrey;
}
@media (max-width:1300px) { 

    .misevi_section{
        display: flex;
        flex-wrap: wrap;
    }
}