.information{
    display: flex;
    justify-content: center;
}

.misevi_logo{
    flex-grow: 1;
}
.misevi_logo .img{
    max-width:100%;
}


.page-carousel img{
    height: 450px;
}

.red-text{
    color: red;
}

.text_bold{
    font-weight: bold;
    color: ivory;
}

.container_misevi{
    margin-left: 5%;
    margin-right: 5%;
}

.big-icon{
    width: auto;
}

.description p{
 font-weight: 500;
 color:darkgrey;
}

.smaller-title{
    font-size: 35px;
}

.misevi-href{
    text-decoration: underline;
}
.misevi-href:hover {
     color: #f5593d;
     text-decoration: underline;
 }

.background-logo{
    background-image: url('/assets/img/one-page/logo_misevi.png');
    background-position: center;
    background-repeat: no-repeat;
}

.carusel-text p{
    font-weight: bold;
    font-size: 20px;
    background: rgba(14, 1, 1, 0.4); 
}