<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/one-page/Frontpage.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">

            <h1><b>Madagaskar wysycha</b></h1>
            <h3>Pomagamy budować studnie w regionie Anosy</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i
                    class="fa fa-play"></i>Obejrzyj wideo</a>
            <a href="https://www.misevi.pl/pomagaj-z-nami/" class="btn btn-outline-neutral btn-round">
                <i class="fa fa-play"></i>Dołącz do nas!</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">100 dni dla studni</h2>
                    <h5 class="description">
                        Hej, tu MISEVI Polska! Od sześciu lat na południu Madagaskaru prowadzimy projekty,
                        które zapobiegają wykluczeniu społecznemu dzieci, chorych i osób z niepełnosprawnościami..
                        Chcemy rozszerzyć nasze działanie i razem z Malgaszami z okolic Tôlanaro (Fort-Dauphin) budować
                        studnie,
                        które pomogą ocalić zdrowie i życie osób niemających dostępu do słodkiej wody.
                        <b style="color:black"> Tym razem jednak do projektu zapraszamy cywili takich jak Ty.</b>
                        Nasz plan to budowa trzech ujęć słodkiej. Koszt budowy jednej studni to 15 tys. zł. Pomożesz nam
                        je zebrać?
                    </h5>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">100 dni</h4>
                            <p>
                                Zbieranie środków na budowę studni chcemy zamykać w STUDNIOWYCH cyklach.
                                Dzięki temu praca będzie przebiegała sprawniej i szybciej dostarczymy słodką wodę
                                mieszkańcom okolic Tôlanaro.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Sytuacja na Madagaskarze</h4>
                            <p>
                                Kryzys klimatyczny, wylesianie wyspy oraz brak odpowiedniej infrastruktury – wszystko to
                                sprawia,
                                że mieszkańcy południa Madagaskaru mają coraz bardziej ograniczony dostęp do słodkiej
                                wody.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-check-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Wiemy, co robić!</h4>
                            <p>
                                Poznaliśmy warunki panujące na południu wyspy.
                                Razem z Malagaszami chcemy wybudować studnie w miejscach,
                                które dostarczą wodę największej liczbie osób.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Zobacz, jak to wygląda</h4>
                            <p class="description">
                                Od sześciu lat tworzymy projekty rozwojowe na południu Madagaskaru. Zobacz,
                                jak wygląda praca, którą wykonujemy razem z mieszkańcami Tôlanaro i okolic.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-dark text-center">
                <div class="container_misevi">
                    <h2 class="title">Kim jesteśmy?</h2>
                <div class="misevi_section">
                    <div class="misevi_logo">
                        <img src="./assets/img/one-page/logo_misevi.png" alt="Random first slide">
                    </div>
                    <div class="misevi_desc">
                        <h3>Jesteśmy polską organizacją prowadzącą projekty rozwojowe wśród osób najbardziej zagrożonych wykluczeniem społecznym. 
                            Nasi wolontariusze pracowali w Beninie, Kazachstanie, Ukrainie oraz na Madagaskarze.
                            <br>
                            <br>
                            Projekty rozwojowe w rejonie Anosy, na południu Madagaskaru, tworzymy od 6 lat.
                            Wspieramy działania edukacyjne, szkolimy fizjoterapeutów oraz personel medyczny.
                            <br>
                            <br>
                            Działamy zarówno w Polsce, jak i poza granicami.
                        </h3>
                    </div>
                </div>
                    <div>
                        <h3 class="text_bold"><b>Chcesz poznać MISEVI. Zapraszamy na stronę naszej organizacji.</b></h3>
                    </div>
                </div>
        </div>
    </div>

    <div class="main">
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title">Czy wiesz ze?</h2>
                        <h5 class="description">
                            Według danych z marca 2021 około 42% populacji południowego Madagaskaru nie
                            ma dostępu do bezpiecznej wody pitnej.
                        </h5>
                        <br>
                    </div>
                </div>
                <br /><br />
                <div class="information">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-world-2"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Brak dostępu do wody</h4>
                                <p>
                                    Ze względu na brak dostępu do wody dochodzi do wewnętrznych
                                    przesiedleń ludności z obszarów dotkniętych suszą (tzw. uchodźcy klimatyczni).
                                    Ludzie migrują w kierunku Antananariwy i północnej części wyspy.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-umbrella-13"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Deficyt opadów</h4>
                                <p>Deficyt opadów w 2020 zagraża bezpieczeństwu żywnościowemu. Zahamowany jest wzrost
                                    upraw i utrudniony dostęp do wody pitnej.
                                    Panujące warunki mogą wywołać kryzys na wielką skalę w regionie, którego gospodarka
                                    i tak została już zniszczona przez epidemię COVID-19.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-hat-3"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Brak edukacji</h4>
                                <p>Dzieci nie mogą uczęszczać do szkół, gdyż są zaangażowane w pomoc rodzicom w szukaniu
                                    żywności. Szacuje się, że na utratę bezpieczeństwa
                                    żywnościowego narażonych jest 1-1,5 mln Malgaszów, z czego więcej niż 200 000 żyje w
                                    warunkach krytycznych.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark text-center">
            <div class="container">
                <h2 class="title">Zjęcia z naszych misji!</h2>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/one-page/photos/1.jpg" alt="Random first slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/one-page/photos/2.jpg" alt="Random second slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/one-page/photos/3.jpg" alt="Random third slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/one-page/photos/4.jpg" alt="Random third slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/one-page/photos/5.jpg" alt="Random third slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/one-page/photos/6.jpg" alt="Random third slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/one-page/photos/7.jpg" alt="Random third slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/one-page/photos/8.jpg" alt="Random third slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/one-page/photos/9.jpg" alt="Random third slide">
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="section text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 mr-auto ml-auto">
                            <h2 class="title">Chcemy, żebyście wiedzieli!</h2>
                            <h2>Tu znajdziecie informacje na temat projektu budowy studni</h2>
                            <br>
                        </div>
                    </div>
                    <br /><br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-paper"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Blog</h4>
                                    <p>Każdy tydzień poświęcamy innemu zagadnieniu związanemu z dostępem do wody na
                                        Madagaskarze.
                                        Znajdziesz tu wywiady, relacje wolontariuszy, którzy pracowali na wyspie, ważne
                                        dane z raportów
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-money-coins"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Zrzutka.pl</h4>
                                    <p>
                                        Platforma, poprzez którą możecie wesprzeć budowę studni
                                    </p>
                                    <br>
                                    <button type="button" class="btn btn-danger btn-round">Wesprzyj nas!</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="fa fa-instagram big-icon"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">
                                        Instagram
                                    </h4>
                                    <p>
                                        Zobacz wyróżnione stories, dowiedz się więcej o życiu Malgaszów z Tôlanaro.
                                    </p>
                                    <a href="https://www.instagram.com/misevi_poland/?hl=pl" class="btn btn-link btn-danger">Śledź nas tutaj!</a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-book-bookmark"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">E-book</h4>
                                    <p>
                                        Poznaj niepublikowane wcześniej historie,
                                        w których wolontariusze MISEVI Polska opowiadają o swojej pracy na Madagaskarze.
                                        Pobranie e-booka jest darmowe.
                                    </p>
                                    <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="section section-dark text-center">
                <div class="container">
                    <h2 class="title">Mamy dla Ciebie dwie informacje: dobrą i złą</h2>
                    <h2 class="title">
                        <b>Prognozy na najbliższe lata są groźne </b>
                        – braku dostępu do wody pitnej doświadczy coraz więcej z nas. Malgaszów dotknie to w szczególny
                        sposób.
                        <b> Mamy jednak jednak wiedzę i umiejętności </b> , by skutecznie zminimalizować to zagrożenie.
                    </h2>
                    <div class="row">

                    </div>
                </div>
            </div>
            <form (ngSubmit)="onSubmit(mailForm)" #mailForm="ngForm"  novalidate>
            <div class="section landing-section text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 mr-auto ml-auto">
                            <h2 class="title">Napisz do nas!</h2>
                            <div class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Imię</label>
                                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="nc-icon nc-single-02"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Imię"
                                            (focus)="focus=true" (blur)="focus=false" name="name" id="name" ngModel>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Email</label>
                                        <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i
                                                        class="nc-icon nc-email-85"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Email"
                                                (focus)="focus1=true" (blur)="focus1=false" name="email" id="email" ngModel>
                                        </div>
                                    </div>
                                </div>
                                <label>Wiadomość</label>
                                <textarea  class="form-control" rows="4"
                                    placeholder="Napisz co tylko przychodzi Ci do głowy!" name="message" id="message" ngModel></textarea>
                                <div class="row">
                                    <div class="col-md-4 mr-auto ml-auto">
                                        <button type="submit" class="btn btn-danger btn-lg btn-fill">Wyślij!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>