<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/one-page/drzewa.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            
            <h1>Zbuduj studnie z nami!</h1>
            <h3>Budujemy studnie w Madagaskarze</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Download</button>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">100dni dla studni</h2>
                <h5 class="description">Od wielu lat działamy na Madagaskarze, planujemy zbudować tam 3 studnie koszt tych studni to 45. To jest bardzo nudny tekst ale napisałem go tylko po to aby napisać cokolwiek
                Raczej powinien być ciekawy i przyciągnąć uwagę potencjalnego czytającego, chcącego wpłacić pare dolców.
                </h5>
                <br>
                <a href="#pkp" class="btn btn-link btn-danger">Zobacz więcej</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">100 dni</h4>
                        <p>Tutaj mozna wrzucić tekst odnośnie studni i dlaczego sto dni</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Sytuacja na Madagaskarze</h4>
                        <p>Kryzys na Madagaskarze coraz bardziej się pogłębia, wody jest coraz mniej.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Jest nadzieja!</h4>
                        <p>Mozesz wesprzec nasza akcje, po przez dorzucenie kilku gorszy na studnie</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Zdjęcia z Misji</h4>
                        <p class="description">Rzuć okiem na zdj które przysłali nam wolontariusze</p>
                        <a href="#pkp" class="btn btn-link btn-danger">Zobacz więcej</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Kim właściwie jesteśmy?</h2>
        <h2 class="title">Moze cos o misevi?</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Dziadek</h4>
                                <h6 class="card-category">Misjonarz na Mada</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Od wielu lat mieszka na madagaskarze, wspiera nasza misje. Jest aktywnym członkiem tamtych społeczności i to za jego inicjatywą powstała akcja
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Jakiś przedstawiciel</h4>
                                <h6 class="card-category">Koordynator</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Jakaś kolejna osoba</h4>
                                <h6 class="card-category">Pomocnik Wicepremier i kniaź</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Czy wiesz ze?</h2>
                <h5 class="description">Od wielu lat działamy na Madagaskarze, planujemy zbudować tam 3 studnie koszt tych studni to 45. To jest bardzo nudny tekst ale napisałem go 
                </h5>
                <br>
                <a href="#pkp" class="btn btn-link btn-danger">Zobacz więcej</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">100 dni</h4>
                        <p>Tutaj mozna wrzucić tekst odnośnie studni i dlaczego sto dni</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Sytuacja na Madagaskarze</h4>
                        <p>Kryzys na Madagaskarze coraz bardziej się pogłębia, wody jest coraz mniej.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Jest nadzieja!</h4>
                        <p>Mozesz wesprzec nasza akcje, po przez dorzucenie kilku gorszy na studnie</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Zdjęcia z Misji</h4>
                        <p class="description">Rzuć okiem na zdj które przysłali nam wolontariusze</p>
                        <a href="#pkp" class="btn btn-link btn-danger">Zobacz więcej</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Zjęcia z misji</h2>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="./assets/img/one-page/drzewa.jpg" alt="Random first slide">
                            <div class="carousel-caption">
                                <p></p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/one-page/Frontpage.jpg" alt="Random second slide">
                            <div class="carousel-caption">
                                <p>Somewhere else</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/one-page/misje.jpg" alt="Random third slide">
                            <div class="carousel-caption">
                                <p>Here it is</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Tutaj wrzucimy posty/link odnosnik do bloga i przycisk na zrzutkę </h2>
                <br>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">100 dni</h4>
                        <p>Tutaj mozna wrzucić tekst odnośnie studni i dlaczego sto dni</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Sytuacja na Madagaskarze</h4>
                        <p>Kryzys na Madagaskarze coraz bardziej się pogłębia, wody jest coraz mniej.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Dlaczego 100dni, czy tez inne informacje</h2>
        <h2 class="title">Nie musiby vyc w tej kolejnosci mogą być jakieś inne grafiki, ikony, slajdy, zdj, co chcecie ale potrzebuje konentu do strony!!!</h2>
        <div class="row">

        </div>
    </div>
</div>

<div class="section landing-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Napisz do nas!</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Imię</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Wiadomość</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Wyślij!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>