.nav-item {
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: center;
}
button {
    text-align: bottom;
}
i{
    margin-bottom: 10px;
}

.logo-container .brand{
  margin-left: 0px;
  margin-top: 0px;
  width: 170px;
  height: 60px;
}